</head>
<body> 
    <!--header-->
    <div class="header">
        <div class="bottom-header">
            <div class="container">
                <div class="header-bottom-left">
                    <div class="logo">
                        <a href="/goods/index/index"><img src="/shop/images/astar.jpg" alt=" " /></a>
                    </div>
                    <div class="search">
                        <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
                        <input type="submit"  value="搜索">

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="header-bottom-right" >
                    <ul class="men-grid">
                        <li class="login"><a href="/index/index/index"><span> </span>返回论坛</a></li>
                        <li style="position: absolute; left: 130px"><a href="/index/member/show/user_id/{$uid}"><span> </span>账户</a></li>
                        <li class="cart" style="position: absolute; left: 249px"><a href="/order/cart/index"><span> </span>购物车</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>   
            </div>
        </div>
    </div>
    <!---->
    <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
    <div class="container">
        <div class="banner-menu">
            
            <div class="shoes-grid">
                <script src="js/jquery.wmuSlider.js"></script> 
                  <script>
                    $('.example1').wmuSlider();         
                 </script>  
                  <!---->