		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
					<li class="active">
						<a href="index.html">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">&nbsp;
						<i class="glyphicon glyphicon-user" style="font-size: 19px;"></i>
						<span class="menu-text"> &nbsp;&nbsp;会员管理 </span>

						<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/admin/member/moneycheckshow">
									<i class="menu-icon fa fa-caret-right"></i>
									充值管理
								</a>

								<b class="arrow"></b>
							</li>

							
						</ul>
					</li>
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								商品管理
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									商品管理
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									商品列表
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/goods/admin/index">
											<i class="menu-icon fa fa-caret-right"></i>
											全部商品
										</a>

										<b class="arrow"></b>
									</li>
									{foreach name="data" id="da"}
									<li class="">
										<a href="/goods/admin/index/catid/{$da.id}">
											<i class="menu-icon fa fa-caret-right"></i>
											{$da.name}
										</a>

										<b class="arrow"></b>
									</li>
									{/foreach}
								</ul>
							</li>

									<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									添加商品
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									{foreach name="data" id="da"}
									<li class="">
										<a href="/goods/admin/add/catid/{$da.id}">
											<i class="menu-icon fa fa-caret-right"></i>
											{$da.name}
										</a>

										<b class="arrow"></b>
									</li>
									{/foreach}
								</ul>
							</li>
								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									商品分类
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/goods/Category/index">
											<i class="menu-icon fa fa-caret-right"></i>
											分类列表
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="/goods/Category/add">
											<i class="menu-icon fa fa-caret-right"></i>
											添加分类
										</a>

										<b class="arrow"></b>
									</li>
								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									商品品牌
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/goods/brand/index">
											<i class="menu-icon fa fa-caret-right"></i>
											品牌列表
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="/goods/brand/add">
											<i class="menu-icon fa fa-caret-right"></i>
											添加品牌
										</a>

										<b class="arrow"></b>
									</li>
								</ul>
							</li>

							<li class="">
								<a href="#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									商品规格
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="/goods/spec/index">
											<i class="menu-icon fa fa-caret-right"></i>
											规格列表
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="/goods/spec/add">
											<i class="menu-icon fa fa-caret-right"></i>
											添加规格
										</a>

										<b class="arrow"></b>
									</li>
								</ul>
							</li>							
						</ul>
					</li>
					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> 订单管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="\order\admin\index">
									<i class="menu-icon fa fa-caret-right"></i>
									订单管理
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>


					
				</ul><!-- /.nav-list -->
								<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>