{extend name="public:base" /}
{block name="body"}
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
		<div class="page-header">
  			<h2>{$title}</h2>
		</div>

		<div>			
            
             <h3>{$art.title}</h3>
                <p>作者:{$art.user_id|getUserName}&nbsp;&nbsp;
               发布时间:{$art.create_time}&nbsp;&nbsp;
               阅读量:{$art.pv}&nbsp;&nbsp;

               </p>
               <div>{:htmlspecialchars_decode($art.content)}</div>
              <hr/>
              {if condition="$Think.session.user_id != ''"}
              {eq name="$result.session_id" value="$Think.session.user_id"}
              <button type="button"
               class="btn btn-success" 
               id="fav" user_id="{$art.user_id}" article_id="{$art.id}" session_id="{$Think.session.user_id}">取消收藏</button>
               {/eq}
               {/if}
               {empty name="$result.session_id"}
               <button type="button"
               class="btn btn-primary" 
               id="fav" user_id="{$art.user_id}" article_id="{$art.id}" session_id="{$Think.session.user_id}">收藏</button>
               {/empty}
               {if condition="$Think.session.user_id != ''"}
               {eq name="$like.session_id" value="$Think.session.user_id"}
               <button type="button"
               class="btn btn-success" id="like" 
               user_id="{$art.user_id}" article_id="{$art.id}"  session_id="{$Think.session.user_id}">取消赞</button>
               {/eq}
               {/if}
               {empty name="$like.session_id"}
               <button type="button"
               class="btn btn-primary" id="like" 
               user_id="{$art.user_id}" article_id="{$art.id}"  session_id="{$Think.session.user_id}">赞</button>
               {/empty}
          </div> 
          <!-- 评论功能 -->
         <h4>发表评论</h4>
         <form class="form-horizontal" id="comment">
         <input type="hidden" name="article_id" value="{$art.id}">
         <input type="hidden" name="user_id" value="{$art.user_id}">
         <input type="hidden" name="session_id" value="{$Think.session.user_id}">      
         <textarea  name="content" id="" cols="100" rows="6"></textarea>
          <button type="button" class="btn btn-primary" id="submit" >发表评论</button>
         </form>
         <p class="text-success" id="res" style="font-size:16px;font-family:楷书;color:rgba(59, 79, 195, 1.);"></p>


          <!-- 处理评论功能 -->
          <script>
            $('#submit').on('click',function(){
              $.get("{:url('index/index/insertComment')}",$('#comment').serialize(),function(data){
                  switch(data.status)
                      {
                      case 1:
                         $('#res').text(data.message)
                         document.getElementById("myDiv").innerHTML= data.result;
                        break

                        case 0:
                         $('#res').text(data.message)
                        break

                        case 2:
                        alert(data.message)
                        window.location.href="{:url('index/user/login')}"
                        break
                      }
              })
            })
          </script>
          <div id="myDiv">
            
          </div>
          {volist name="commentList" id="comment" empty="没有评论"}
          <div>
            {//$comment.seesion_id|getUserName}
            <p>{:getUserName($comment.session_id)}&nbsp;&nbsp;&nbsp;{$comment.create_time}</p>
            <div style="min-height: 50px">{$comment.content}</div>
            <hr>
          </div>
          {/volist}


          <!-- 处理收藏功能 -->
          <script type="text/javascript">
            $(function(){
              $('#fav').on('click',function(){
                var userId = $(this).attr('user_id')
                var artId = $(this).attr('article_id')
                var sessionId = $(this).attr('session_id')
                if (userId && artId){
                  $.ajax(
                  {
                    type: 'get',
                    url : "{:url('index/index/fav')}",
                    data: {
                            user_id     : userId,
                            article_id  : artId,
                            session_id  : sessionId,
                            time:new Date().getTime()
                          },
                    dataType : 'json',
                    success  : function(data)
                    {
                      switch(data.status)
                      {
                      case 1:
                        $('#fav').attr('class','btn btn-success')
                        $('#fav').text(data.message)
                        break

                        case 0:
                        $('#fav').attr('class','btn btn-primary')
                        $('#fav').text(data.message)
                        break

                        case -1:
                        alert(data.message)
                        break

                        case -2:
                        alert(data.message)
                        window.location.href="{:url('index/user/login')}"
                        break

                      }
                   }
                  }
                    
                  )
                }
  
              })
            })
          </script>          


          <!-- 处理点赞功能 -->
          <script type="text/javascript">
            $(function(){
              $('#like').on('click',function(){
                var userId = $(this).attr('user_id')
                var articleId = $(this).attr('article_id')
                var sessionId = $(this).attr('session_id')
                if (userId && articleId){
                  $.ajax(
                  {
                    type: 'get',
                    url : "{:url('index/index/like')}",
                    data: {
                            user_id    : userId,
                            article_id : articleId,
                            session_id : sessionId,
                            time:new Date().getTime()
                          },
                    dataType : 'json',
                    success  : function(data)
                    {
                      switch(data.status)
                      {
                      case 1:
                        $('#like').attr('class','btn btn-success')
                        $('#like').text(data.message)
                        break

                        case 0:
                        $('#like').attr('class','btn btn-primary')
                        $('#like').text(data.message)
                        break

                        case -1:
                        alert(data.message)
                        break

                        case -2:
                        alert(data.message)
                        window.location.href="{:url('index/user/login')}"
                        break

                      }
                   }
                  }
                    
                  )
                }
  
              })
            })
          </script>          




{/block}