{extend name="public:base" /}
{block name="body"}
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
		<div class="page-header">
  			<h2>{$cateName}</h2>
		</div>
		{volist name="artList" id="art" empty="$empty"}
		<div>			
            <img class="img-rounded" src="/uploads/{$art.title_img}"
            style="margin-right: 10px;float: left;width: 100px;height: 79px"/>
            <div style="float: left;width: 80%">
             <h4><a href="{:url('detail',['id'=>$art.id])}">{$art.title}</a></h4>
                <p>作者：{$art.user_id|getUserName}&nbsp;&nbsp;
               发布时间：{$art.create_time|date='Y-m-d H:i'}&nbsp;&nbsp;
               阅读量：{$art.pv};
               </p>
               <div>{:mb_substr(strip_tags($art.content),0,70)}...</div>
              <hr/>
          </div>                
   		</div>
            {/volist}

        <div class="text-center">{$page|raw}</div> 
{/block}

