<div class="form-group">
	<label for="avatar_img" class="col-sm-2 control-label">上传图片:</label>
	<div>
		<div style="position: relative;border: 5px solid #CECECEFF;width: 309px;height:309px;margin: 0px 200px;border-radius: 13%;">
			<div><img src="/uploads/jia.jpg" alt="选择并上传图片" id="avatar_img"
				style="position:absolute;width: 299px;height: 299px;left:0;top: 0;border-radius: 10%;"/>
			</div>
			
			<input type="file" id="avatar_file" name="image[]"
			style="width: 100%;height:100%;opacity: 0;position: absolute;left:0;top: 0;" multiple />
		</div>
		
	</div>
</div>


<script>
    // 头像预览
    $("#avatar_file").change(function () {
        // 获取上传文件对象
        var file = $(this)[0].files[0];
        // 读取文件URL
        var reader = new FileReader();
        reader.readAsDataURL(file);
        // 阅读文件完成后触发的事件
        reader.onload = function () {
            // 读取的URL结果：this.result
            $("#avatar_img").attr("src", this.result);
        }
    });
</script>